@font-face {
font-family: "Bootle";
src: url("fonts/bootle__-webfont.woff") format('woff'),
 url("fonts/bootle__-webfont.woff2") format('woff2');
}

body {
   background-image: url("../images/beatles_background.jpg"); width: 100%;
   background-size: 100%;
   background-repeat: repeat;
   background-color: #cccccc;
}

#mainHeader {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#mainTitle {
    color: black;
    font-size: 64px;
    font-family: "Bootle", Helvetica, Arial, sans-serif;
    letter-spacing: 0px;
}

#instructions {
    font-size: 14px;
}

#usersGuess {
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
}

#mainContent {
    text-align: center;
}

.stats {
    font-size: 20px;
    color: black;
    font-style: bold;
    font-family: 'Bungee', cursive;
}

