h1 {
    color: red;
}

.letterspaces {
    height: 50px;
    width: 50px;
    border-bottom: 5px solid black;
    margin: 10px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-style: bold;
} 

.spacespaces {
    height: 50px;
    width: 50px;
    margin: 10px;
    display: inline-block;
} 