@font-face {
font-family: "Bootle";
src: url("fonts/bootle__-webfont.woff") format('woff'),
 url("fonts/bootle__-webfont.woff2") format('woff2');
}

#mainHeader {
    text-align: center;
    margin-top: 20px;
}

#mainTitle {
    color: black;
    font-size: 64px;
    font-family: "Bootle", Helvetica, Arial, sans-serif;
    letter-spacing: 0px;
}

#instructions {
    font-size: 14px;
}

#usersGuess {
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
}

#mainContent {
    text-align: center;
}

.stats {
    font-size: 14px;
    font-style: bold;
    color: black;
}